body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffd900; 
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}


.dog-img {
  width: 200px;
  height: auto;
  margin: 30px auto 10px auto;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 0.85rem;
  color: #6a4a00dc;
  margin-top: -5px;
}

.btn {
  background-color: #6a4b00;
  color: white;
  text-align: center;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

.btn:hover {
  opacity: 0.85;
}

.signup-text {
  font-size: 0.8rem;
  color: #000;
}

.signup-link {
  color: #6a4b00;
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
